.clear{	clear: both;}
.logo{width: 8rem;height: auto;display: block;margin: 4.7rem auto 1.8rem;border-radius:1rem;box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.5);}
h1{color: #0096ff;font-size: 1.9rem;text-align: center;}
.box>p:first-of-type{width: 30rem;display: block;margin: 0 auto 2.5rem;color: #363636;font-size: 1.1rem;line-height: 2rem;margin-top: 2.5rem;}
.list{width: 100%;background: #FFFFFF;}
.list li{ width: 32.9rem;margin: 0 auto;}
.list li i{font-size: 1.3rem;color: #363636;float: left;line-height: 3.4rem;margin-right: 0.7rem;}
.list>li>p{line-height: 3.4rem;padding-left: 2.1rem;}
.list li>p span,.list li>p span a{color: #ff3600;float: right;}
.box>p:last-of-type{color: #363636;font-size: 1.1rem;text-align: center;margin-top: 12.2rem;margin-bottom: 2rem;}
